extends layout

append main
    main(class='main')
        form(class='main-form', id='main-form', action='/url', method='POST')
            input(class='main-form-input', type='text', name='url', placeholder='Put your long URL here')
            input(class='main-form-btn', type='submit', value='Make it short!')
        if count > 0
            - var countText = `We've already shortified ${count} URLs`
            p(class='main-count') #{countText}
        if result
            - var resultText = "Your short url is: "
            span #{resultText}
            span(class='main-result', id='main-result') #{result}
            button(class='main-button-copy', onclick='copyToClipboard()') Copy
        if error
            span(class='main-error') #{error}
append script
    script(src='../js/script.js')
