extends layout

append main
    main(class='main')
        form(class='main-form', id='main-form', action='/url', method='POST')
            input(class='main-form-input', type='text', name='url', placeholder='Put your long URL here')
            input(class='main-form-btn', type='submit', value='Make it short!')
        if result
            - var resultText = "Your short url is: "
            span #{resultText}
            span(class='main-result', id='main-result') #{result}
            button(class='main-button-copy', onclick='copyToClipboard()') Copy
        if error
            span(class='main-error') #{error}
append footer
    footer(class='footer')
        form(class='stats-form', id='stats-form', action='/stats', method='POST')
            input(class='stats-form-input', type='text', name='url', placeholder='Short URL')
            input(class='stats-form-btn', type='submit', value='Get stats')
        if statistics !== undefined
            - var urlText = `Short URL: ${statistics.url}`
            - var clicksText = `Clicks: ${statistics.clicksCount}`
            p #{urlText}
            p #{clicksText}
        button(type="button" class="collapsable-btn", onclick='displayAbout()')= "About"
        div(class='about', id='about')
            p= "Free service to make your URLs short."
            br
            p= "Get stats allows you to see how many times short URL has been used."
            br
            p= "Limitations:"
            p= `- short URL lifetime is ${shortUrlLifetimeDays} days.`
            p= `- you can create only ${requestLimitCount} URLs in ${requestLimitTimeHours} hours.`
            br
            p= "Created by Ivan Tachenko (ivan.tachenko@gmail.com)"
append script
    script(src='../js/script.js')
